body {
  font-family: "Open Sans";
  font-size: 10pt;
  background-color: black;
  color: aliceblue;
}
 section#home{
   padding-top:14%;
   padding-bottom:16%;
   overflow: hidden;
   background-color: black;
  
 }
 .home-content{
color:aliceblue;
 }